* {
  margin: 0%;
  padding: 0;
  box-sizing: 0;
}

:root {
  --bgmain: #be123c;
  --mainfont: "DM Sans", sans-serif;
}

body {
  font-family: var(--mainfont);
  padding: 0 98px;
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

a{
    text-decoration: none;
    /* color:white; */
}

.logo, .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}