* {
  margin: 0%;
  padding: 0;
  box-sizing: 0;
}

:root {
  --bgmain: #be123c;
  --mainfont: "DM Sans", sans-serif;
  --global-padding: 0px 98px;
}

body {
  font-family: var(--mainfont);
  
  position: absolute;
}

nav {
  display: flex;
  position: fixed;
  min-width: 86vw;
  justify-content: space-between;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 17px 98px;
  backdrop-filter: blur(2px);
  color: white;
}

a {
  text-decoration: none;
  color:white;
  
}

.logo,
.menu,
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.home_section {
  background-image: url(assets/DUNE-IMAGE.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}
